<div id="header">
    <div class="container">
        <a href="/">
            <div class="logo"></div>
        </a>
        <nav class="header-nav col-sm-8 hidden-xs" v-html="loginDrawHTML">
            <ul class="nav-menu fr">
                <% if (!haslogin) { %>
                    <li class="nav-li"><a href="http://www.ixm.gov.cn/sy/zczy/" target=_blank>注册指引</a></li>
                    <li id="loginbox" class="nav-li">
                        <span><a href="/">登录</a></span>&nbsp;|
                        <span><a href="/vue.html">注册</a></span>
                    </li>
                    <% } else { %>
                        <li id="hasloginbox" class="nav-li">
                            <span><a href="/"><%=hello%> , <%=userName%></a></span>&nbsp;|
                            <span><a href="http://www.ixm.gov.cn/ids/admin/logout.jsp">退出</a></span>
                        </li>
                        <% } %>
                            </u>
        </nav>
    </div>
</div>