<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
		<%= title %>
		<%- title %>
		<% users.forEach(function(user){ %>
			<h5><%= user.username %>
		<% }) %>
  </body>
</html>
