<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HOME</title>
    <!-- inject:base:css -->
    <!-- endinject -->
    <!--IEhack@include('./include/IEhack.html')-->
</head>

<body>
    <!--IEhack@include('./include/header.html')-->
    <div class="container wrap">
    <%= title %>
        <%- title %>
            <% users.forEach(function(user){ %>
                <h3><%= user.username %></h3>
                <% }) %>
    </div>
    <!--IEhack@include('./include/footer.html')-->
    <!-- inject:CommonJS:js -->
    <!-- endinject -->
</body>


</html>
