<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>avalon</title>
    <!-- inject:base:css -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/uikit.css">
    <link rel="stylesheet" href="css/layer.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- endinject -->
    	<!--[if lt IE 9]>
        <script src="//cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>  
        <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <script src="https://cdn.bootcss.com/es6-promise/4.1.1/es6-promise.auto.min.js"></script>
        <![endif]-->

</head>

<body ms-controller="body" class="ms-controller">
    <div class="uk-container uk-container-center">
        <form class="uk-form uk-form-horizontal" ms-validate="@validate">
            <fieldset class="uk-grid">
                <div class="uk-form-row uk-width-1-2">
                    <label class="uk-form-label" for="name">用户名</label>
                    <input class="uk-form-large" id="name" type="text" placeholder="userName" ms-duplex="@userName" ms-rules="{userName:true,required:true}">{{@userName}}
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="mobile">手机</label>
                    <input class="uk-form-large" id="mobile" type="tel" placeholder="mobile" ms-duplex="@mobile" ms-rules="{mobile:true,required:true}">{{@mobile}}
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="mobile">验证码</label>
                    <img ms-attr="{src: @validateCode.img}" ms-on-click="@reloadvalidate">
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="email">邮箱</label>
                    <input class="uk-form-large" id="email" type="email" placeholder="Email Address">
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="password">密码</label>
                    <input class="uk-form-large" id="password" type="password" placeholder="Password" ms-duplex="@password" ms-rules="{password:true,required:true}">
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="password">确认密码</label>
                    <input class="uk-form-large" type="password" placeholder="Password" ms-duplex="@confirm_password | change" ms-rules="{equalto:'password',required:true}">
                </div>
                <div class="pure-controls">
                    <label class="uk-form-label" for="cb" class="pure-checkbox">
                        <input id="cb" type="checkbox">已阅读协议
                    </label>
                    <button type="submit" class="pure-button pure-button-primary">提交</button>
                </div>
            </fieldset>
        </form>
    </div>
    <script src="js/lib/CommonJS.js"></script>
    <script>
    require(['controller'], function() {
        // body...
    })
    </script>
</body>

</html>